.modificar-user-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #de8c26;
  border-radius: 10px;
  margin-top: 200px;
}

.modificar-user-form input[type="text"],
.modificar-user-form input[type="password"],
.modificar-user-form input[type="file"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 25px;

}

.modificar-user-form button[type="submit"] {
  padding: 8px 16px;
  background-color: #efefef;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.modificar-user-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
   width: 100px;
  margin-right: 10px;
}

.modificar-user-form .form-column {
  display: flex;
  flex-direction: column;
}

.modificar-button{
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 15px;
}
.success-message {
  color: green;
  font-weight: bold;
}

.error-message {
  color: red;
  font-weight: bold;
}
/* Media query para teléfono */
@media screen and (max-width: 480px) {
  .modificar-user-form{
    margin-top: 150px;
  }
}