.contacto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180vh;
  margin-bottom: 50px;
  margin-top: 90px;
  
}

.datos-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 40px;
  margin-bottom: 20px;
}

.datos-contacto-info {
  margin-right: 20px;
}

.horario-titulo {
  text-align: center;
  margin-bottom: 20px;
}

.mapa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 10px;
  
}
.titulo-rss{
  margin-top: 60px;
}
.redes-sociales {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-top: 0; 
  margin-bottom: 0;
}

.icono-facebook,
.icono-instagram,
.icono-tripadvisor {
  font-size: 30px;
  margin-right: 10px;
}

/* Formulario */
.form-title-contacto {
  text-align: center;
  font-size: 24px;
  margin-bottom: -50px;
  margin-top: 0px;
}
.form-wrapper-contacto {
  height: 240px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10px;
  background-color: #de8c26;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-group-contacto {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label-contacto {
  display: block;
  font-weight: bold;
  margin-right: 10px;
  width: 100px;
  color: black;
}

.input-contacto {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
  
}
.login-input-email {
  margin: 0;
  padding: 10px;
}
.button-contacto {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #efefef;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: #efefef;
}

.form-title-contacto {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}




/* Media query para tablet */
@media screen and (max-width: 768px) {
  .contacto-container {
    align-items: center;
  }

  .datos-contacto {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .horario-titulo {
    margin-bottom: 20px;
  }

  .mapa-container {
    margin-right: 0;
  }

  .redes-sociales {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

/* Media query para teléfono */
@media screen and (max-width: 481px) {

  .contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px; 
    margin-top: 120px;
    
  }
  
  .redes-sociales {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .redes-sociales a {
    margin: 0 10px;
  }
  
  .icono-facebook,
  .icono-instagram,
  .icono-tripadvisor {
    font-size: 24px;
  }
  .horario-titulo {
    text-align: center;
  }
  .mapa-container {
    max-width: 100%;
    overflow: hidden;
  }
  
  .mapa-container iframe {
    width: 100%;
  }
  .navbar {
    width: 80%;
    margin: 0 auto;
  }

  /* formulario */
  @media screen and (max-width: 481px) {
    .form-title-contacto {
      margin-bottom: 10px;
    }
  
    .form-wrapper-contacto {
      height: auto;
      width: 100vw;
      margin: 0 auto;
      padding: 20px;
      margin-top: 10px;
      background-color: #de8c26;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
  
    .form-group-contacto {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 10px;
    }
  
    .label-contacto {
      margin-right: 0;
      margin-bottom: 5px;
      width: auto;
      color: black;
    }
  
    .input-contacto {
      width: 80%;
      margin-bottom: 10px;
    }
  
    .button-contacto {
      width: 80%;
      margin-top: 10px;
      margin-left: 10px;
    }
  }
  
}
