.registro-form-wrapper {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #de8c26;
  border-radius: 5px;
  margin-top: 75px
}

.registro-form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.registro-label {
  display: block;
  font-weight: bold;
  margin-right: 10px;
  width: 100px;
}

.registro-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.registro-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #efefef;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.registro-button:hover {
  background-color: #efefef;
}

.success-message {
  color: green;
  font-weight: bold;
}

.error-message {
  color: red;
  font-weight: bold;
}


.form-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.boton-inicio-sesion {
  text-align: center;
  margin-top: 25px;
}

@media only screen and (max-width: 768px) {
  .registro-form-wrapper {
    max-width: 300px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }

  .registro-label {
    width: 80px;
  }

  .registro-button {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .registro-form-container {
    max-width: 100%;
    margin: 0;
    text-align: center;
   
    
  }
  .registro-wrapper {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
  }


  .registro-label {
    width: 80px;
  }
  .registro-input{
    width: 90%;
  }
  
}